.add-btn-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0;
}

.add-btn {
    width: 100% !important;
    background-color: #e8e8e8 !important;
    height: 32px;
    border: none !important;
    color: black !important;
    font-size: x-small !important;
    padding: 0.5rem !important;
}
