@import "../../components/GlobalStyles/variables";

.wrapper {
    background-color: $primary-color;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}

.brand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right {
    color: white;
}

.brand-img {
    width: 3.2rem;
    height: 3.2rem;
    margin: 0.8rem 1.2rem;
}
